# Drivers Standings
The objective of this notebook is to analize the data that's being used in our database in order to see which statistics can be utilised.  
Lets start by importing the pandas library.

While trying to read the csv file, I received the following error:  
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcc in position 4: invalid continuation byte  

So the csv file is not compatible with the normal UTF-8 encoding.  
I found the following information on the issue: [Unicode Error](https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python)  
By using ISO-8859-1 endoding instead of UTF-8, I was able to import the csv file as a pandas dataframe.

Added file to git

In [1]:
import pandas as pd

driverStandingsCSV = 'driverStandings.csv'
driverStandingsDF  = pd.read_csv(driverStandingsCSV, header=0, index_col=None, encoding = "ISO-8859-1")
driverStandingsDF

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
31721,68604,988,836,5.0,18,18,0
31722,68605,988,18,0.0,24,24,0
31723,68606,988,814,0.0,25,25,0
31724,68607,988,842,0.0,21,21,0
31725,68608,988,843,0.0,23,23,0

### Conclusion
Looking at the data from the Driver Standings dataset, we can see that it does not really make a lot of sence on it's own.  
We'll need to add the information from other datasets and use it in unison with this dataset.  
We have the driversid which we can get more information on from the driver dataset. 
I can also see the raceid, which we can get more information on from the races dataset.
Refer to the comprehensiveDF.ipynb file for more information.